# local files
.DS_Store
.eslintcache
.project
.settings/
.idea/
notused/
.cache
.vscode
*~

# node
node_modules/

# qooxdoo
.package-cache.json
html/
lib/
qooxdoo/
compiled/
qx_packages/
# test apps
foo*
test/qx
tmp
source/class/qx/tool/compiler/Version.js