# local files
.DS_Store
.eslintcache
.project
.settings/
.idea/
notused/
.cache
.vscode
*~

# node
node_modules/

# qooxdoo
.package-cache.json
qooxdoo/
compiled/
qx_packages/

# test apps
/foo*
/myapp
