# This workflow will do a clean install of node dependencies, build the source
# code and run tests across different versions of node For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm ci
    - run: npm run build --if-present

    - name: Run qx test for built-in compiler tests
      run: ./qx test --serve=0 || true

    - name: Run  external CLI and API tests
      run: npm test
      env:
        CI: true

    - name: Build API Viewer
      run: ./qx deploy --out=./html --source-maps

    - name: Deploy API Viewer
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./html
